.formHeader {
  display: flex;
  justify-content: center;
}

.purchaseEntryFormContainer {
  /* padding: 10px; */
  justify-content: space-around;
}

.particularInputField {
  block-size: 1.5rem;
  width: 250px;
  border-color: #5fb3c8;
}
.quantityInputField {
  block-size: 1.5rem;
  width: 50px;
  border-color: #5fb3c8;
  margin-left: 10px;
}
.measureUnitInputField {
  block-size: 1.5rem;
  width: 100px;
  border-color: #5fb3c8;
  margin-left: 10px;
}
.rateInputField {
  block-size: 1.5rem;
  width: 100px;
  border-color: #5fb3c8;
  margin-left: 10px;
}
.vatInputField {
  block-size: 1.5rem;
  width: 100px;
  border-color: #5fb3c8;
  margin-left: 10px;
  /* margin-right: 10px; */
}
.amountInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
  margin-left: 10px;
}
.addButtonStyle {
  margin-right: 10px;
  background-color: #75c8d1;
  width: 50px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 10px;
}
.purchaseTableContainer {
  margin-top: 20px;
}

.resultDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outputContainer {
  margin-top: 50px;
  background-color: #5fb3c8;
  border: 10px;
}

.nonTaxableStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.nonTaxableNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}

.nonTaxableInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}

.taxableStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.taxableNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}

.taxableInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}

.vatStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.vatNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}

.vatInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}

.subTotalStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.subTotalNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}

.subTotalInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}

.billTotalStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.billTotalNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}

.billTotalInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}

.buttonsContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.backButtonStyle {
  margin-right: 10px;
  background-color: #f3edee;
  width: 80px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.updateButtonStyle {
  margin-right: 10px;
  background-color: #60a089;
  width: 80px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.addNewButtonStyle {
  margin-right: 10px;
  background-color: #0076d7;
  width: 80px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.saveButtonStyle {
  margin-right: 10px;
  background-color: #30dd85;
  width: 80px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.deleteButtonStyle {
  margin-right: 10px;
  background-color: #e6253a;
  width: 80px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.submitButtonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.submitButtonStyle {
  margin-right: 10px;
  background-color: #9ae076;
  width: 150px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
