.receiptContainerStyles {
  background-color: #e9fffd;
}
.receiptHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receiptTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #75c8d1;
  color: #ffffff;
  width: 300px;
  font-weight: 300;
}
.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dividerLine {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color: #3a919e;
  margin-top: 40px;
}
.receiptBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  color: #3a919e;
}

.recptFromStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.recptFromTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}
.receiptFromInputField {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.recptByStyle {
  display: flex;
  flex-direction: row;
}
.recptByTextStyle {
  margin-right: 20px;
  margin-top: 0px;
}
.dropdownStyle {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdownStyle:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.recptAmountStyle {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 20px;
}
.recptAmountTextStyle {
  margin-right: 20px;
  margin-top: -10px;
}
.receiptAmountInputField {
  block-size: 1.5rem;
  width: 200px;
  border-color: #5fb3c8;
}
.recptAmountWordStyle {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.recptAmountWordTextStyle {
  margin-right: 20px;
  margin-top: -10px;
}
.recptAmtWordInputField {
  block-size: 1.5rem;
  width: 400px;
  border-color: #5fb3c8;
}
.recptRemarksStyle {
  display: flex;
  flex-direction: row;
}
.recptRemarkTextStyle {
  margin-right: 20px;
  margin-top: -10px;
}
.recptRemarksInputField {
  block-size: 1.5rem;
  width: 460px;
  border-color: #5fb3c8;
}
.receiptFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.cancelButtonStyle {
  margin-right: 10px;
  background-color: #e6253a;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.saveButtonStyle {
  margin-right: 10px;
  background-color: #6af72d;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.printButtonStyle {
  background-color: #646a5e;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
