.sundryDebtorsContainerStyles {
  background-color: #e9fffd;
}
.sundryDebtorsHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sundryDebtorsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #75c8d1;
  color: #ffffff;
  width: 300px;
  font-weight: 300;
}
.debtorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #3a919e;
}
.debtorsNameStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.debtorsNameTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}
.debtorsNameInputField {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.debtorsPinStyle {
  display: flex;
  flex-direction: row;
}
.tPinTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.tPinInputFieldStyle {
  block-size: 1.5rem;
  width: 100px;
  border-color: #5fb3c8;
}
.addressStyle {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.addressTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.addressFieldStyle {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.contactStyle {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.contactTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.contactFieldStyle {
  block-size: 1.5rem;
  width: 150px;
  border-color: #5fb3c8;
}
.relPersonStyle {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.relPersonTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.relPersonFieldStyle {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.degiStyle {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.degiTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.degiFieldStyle {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.debtorsFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.cancelButtonStyle {
  margin-right: 10px;
  background-color: #e6253a;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.saveButtonStyle {
  margin-right: 10px;
  background-color: #6af72d;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
