.addProductContainerStyles {
  background-color: #e9fffd;
}
.addProductHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addProductTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #75c8d1;
  color: #ffffff;
  width: 300px;
  font-weight: 300;
}
.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #3a919e;
}
.productCodeStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.productCodeTextStyle {
  margin-right: 20px;
  margin-top: -5px;
}
.productCodeInputField {
  block-size: 1.5rem;
  width: 100px;
  border-color: #5fb3c8;
}
.productNameStyle {
  display: flex;
  flex-direction: row;
}
.productNameTextStyle {
  margin-right: 20px;
  margin-top: 5px;
}
.productNameInputFieldStyle {
  block-size: 1.5rem;
  width: 300px;
  border-color: #5fb3c8;
}
.muStyle {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.muTextStyle {
  margin-right: 20px;
  margin-top: 15px;
}
.dropdownStyle {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdownStyle:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.productFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.cancelButtonStyle {
  margin-right: 10px;
  background-color: #e6253a;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
.saveButtonStyle {
  margin-right: 10px;
  background-color: #6af72d;
  width: 120px;
  block-size: 2rem;
  border-radius: 10px;
  color: #ffffff;
}
